{% extends 'catalog/base.html' %}

{% block content %}
<main class="container">
    <h1 class="mt-5">Контакты</h1>
    <p>Если у вас есть вопросы, предложения или комментарии, пожалуйста, свяжитесь с нами:</p>

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Телефон</label>
            <input type="text" class="form-control" id="phone" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Сообщение</label>
            <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

    <h2 class="mt-5">Полученные сообщения</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Сообщение</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.message }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}








